body {
  font-family: Helvetica, sans-serif, Arial;
}

.phone-container {
  border: 1px solid black;
  width: 336.5px;
  height: 692px;
  margin: auto;
  border-radius: 30px;
}

.screen-container {
  border: 1px solid red;
  height: 560px;
  width: 310px;
  margin: 66px auto;
  display: flex;
  flex-direction: column;
}

.on-screen-container {
  border: 1px solid orange;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#result-container {
  height: 33%;
}

#buttons-container {
  height: 100%;
}

.on-screen-container div {
  border: 1px solid green;
  border-radius: 100px;
  height: 68px;
  width: 68px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#zero {
  width: 148px;
}
